node {
	shape: circle;
	fill-color: purple;
	text-color: black;
	text-mode : normal;
	text-size : 15px;
	stroke-mode: plain;
	stroke-color: purple;
	stroke-width: 2px;
	size-mode : fit;
	text-background-mode : rounded-box;
	text-background-color : orange;
}

node.rouge {
	fill-color : red;
}
node.neg {
	fill-color : yellow;
}

node:clicked {
	text-mode : normal;
}

edge.plus {
	fill-color: black;

}

edge.moins {
	fill-color : red;
	text-color : blue;
}